In [5]:
import pandas as pd
df = pd.read_excel("Ventas.xlsx", skiprows=1)
df

   Nombre  Apellido  Edad   ID  Ventas  Trimestre
0    Juan     Perez    30  111     150          1
1  Maria   Martinez    27  222      29          1
2   Mario   Sanchez    19  333      78          1
3     Ana    Cortes    25  444      17          1
4   Pedro   Herrera    48  555      90          1
5   Pedro   Herrera    48  555      15          2

In [6]:
display(df["Nombre"])

0      Juan
1    Maria
2     Mario
3       Ana
4     Pedro
5     Pedro
Name: Nombre, dtype: object

In [7]:
display(df["Nombre"].unique())

array(['Juan', 'Maria ', 'Mario', 'Ana', 'Pedro'], dtype=object)

In [9]:
listaVendedores = df["Nombre"].unique().tolist()
listaVendedores

['Juan', 'Maria ', 'Mario', 'Ana', 'Pedro']

In [10]:
len(listaVendedores)

5

In [14]:
#Crear un nuevo dataframe en Pandas

ndf = pd.DataFrame(columns=["Nombre", "Ventas", "Trimestre"])

listaVendedores = df["Nombre"].unique().tolist()
print(listaVendedores)

#El objetivo es buscar las ventas del vendedor X y generar un nuevo dataframe con su informaci√≥n

vendedor = input("Ingrese el nombre del vendedor X a buscar")


for indice in df.index:
    if df["Nombre"][indice] == vendedor:

        nRow = { "Nombre" : df["Nombre"][indice],
                "Ventas": df["Ventas"][indice] ,
                "Trimestre": df["Trimestre"][indice]
        }

        ndf.loc[(len(ndf)) = nRow

['Juan', 'Maria ', 'Mario', 'Ana', 'Pedro']

Ingrese el nombre del vendedor X a buscar Maria