In [1]:
import pandas as pd

In [ ]:
dataframe = pd.Data

In [2]:
df = pd.read_excel('prueba.xlsx')
display(df)

   x   y
0  1   2
1  2   7
2  3   9
3  4  12
4  5  19

In [3]:
display(df["x"])

0    1
1    2
2    3
3    4
4    5
Name: x, dtype: int64