In [21]:
import pandas as pd

In [22]:
dataframe = pd.DataFrame([[1,1,1],[2,2,2],[3,3]], columns=["col1", "col2", "col3"])
display(dataframe)

   col1  col2  col3
0     1     1   1.0
1     2     2   2.0
2     3     3   NaN

In [23]:
df = pd.read_csv('customers.csv')
display(df)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,EB54EF1154C3A78,Heather,Callahan,Mosley-David,Lake Jeffborough,Norway,043-797-5229,915.112.1727,urangel@espinoza-francis.net,2020-08-26,http://www.escobar.org/
1,2,10dAcafEBbA5FcA,Kristina,Ferrell,"Horn, Shepard and Watson",Aaronville,Andorra,932-062-1802,(209)172-7124x3651,xreese@hall-donovan.com,2020-04-27,https://tyler-pugh.info/
2,3,67DAB15Ebe4BE4a,Briana,Andersen,Irwin-Oneal,East Jordan,Nepal,8352752061,(567)135-1918,haleybraun@blevins-sexton.com,2022-03-22,https://www.mack-bell.net/
3,4,6d350C5E5eDB4EE,Patty,Ponce,Richardson Group,East Kristintown,Northern Mariana Islands,302.398.3833,196-189-7767x770,hohailey@anthony.com,2020-07-02,https://delacruz-freeman.org/
4,5,5820deAdCF23EFe,Kathleen,Mccormick,Carson-Burch,Andresmouth,Macao,001-184-153-9683x1497,552.051.2979x342,alvaradojesse@rangel-shields.com,2021-01-17,https://welch.info/
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,DD0caa06ebf217c,Meghan,Cline,Richardson LLC,Petersport,Cote d'Ivoire,001-270-136-4738x419,001-349-692-1755x055,nicolasandrade@bates.info,2022-04-27,http://thomas-ramos.com/
9996,9997,C1C62ff90D0AfED,Jeremiah,Pena,Hodge-Nixon,Briggsport,Namibia,+1-531-494-7645x4844,001-295-324-5502x5411,tracy68@wade.com,2022-01-17,https://www.campbell.com/
9997,9998,2EfAa6Fe435A7DA,Peggy,Key,Vang LLC,West Joyceport,United States Virgin Islands,520.109.2482x26052,+1-602-934-5901x95106,mclaughlinjulia@barnett-dorsey.com,2022-01-13,http://www.george-scott.com/
9998,9999,5dB06C3Fab5CCCb,Evan,Humphrey,Gould Ltd,Camachochester,Niger,001-465-242-9979,001-639-955-2116x751,velazquezjessica@villegas-wilcox.com,2020-04-14,https://www.payne.info/
9999,10000,9903e8fF4D8Ff0F,Melissa,Montgomery,Burns-Holden,Sparkstown,Tunisia,+1-889-682-9490x65400,423.632.2539x98740,ngallagher@martinez.com,2020-06-27,http://nixon.net/

In [24]:
df.head(2)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
0,1,EB54EF1154C3A78,Heather,Callahan,Mosley-David,Lake Jeffborough,Norway,043-797-5229,915.112.1727,urangel@espinoza-francis.net,2020-08-26,http://www.escobar.org/
1,2,10dAcafEBbA5FcA,Kristina,Ferrell,"Horn, Shepard and Watson",Aaronville,Andorra,932-062-1802,(209)172-7124x3651,xreese@hall-donovan.com,2020-04-27,https://tyler-pugh.info/

In [25]:
df.tail(2)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
9998,9999,5dB06C3Fab5CCCb,Evan,Humphrey,Gould Ltd,Camachochester,Niger,001-465-242-9979,001-639-955-2116x751,velazquezjessica@villegas-wilcox.com,2020-04-14,https://www.payne.info/
9999,10000,9903e8fF4D8Ff0F,Melissa,Montgomery,Burns-Holden,Sparkstown,Tunisia,+1-889-682-9490x65400,423.632.2539x98740,ngallagher@martinez.com,2020-06-27,http://nixon.net/

In [26]:
df.columns

Index(['Index', 'Customer Id', 'First Name', 'Last Name', 'Company', 'City',
       'Country', 'Phone 1', 'Phone 2', 'Email', 'Subscription Date',
       'Website'],
      dtype='object')

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Index              10000 non-null  int64
 1   Customer Id        10000 non-null  object
 2   First Name         10000 non-null  object
 3   Last Name          10000 non-null  object
 4   Company            10000 non-null  object
 5   City               10000 non-null  object
 6   Country            10000 non-null  object
 7   Phone 1            10000 non-null  object
 8   Phone 2            10000 non-null  object
 9   Email              10000 non-null  object
 10  Subscription Date  10000 non-null  object
 11  Website            10000 non-null  object
dtypes: int64(1), object(11)
memory usage: 937.6+ KB

In [28]:
df2 = pd.read_csv('2017_delays.csv')

In [29]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113339 entries, 0 to 113338
Data columns (total 12 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   YEAR           113339 non-null  int64
 1   MONTH_NUM      113339 non-null  int64
 2   MONTH_MON      113339 non-null  object
 3   FLT_DATE       113339 non-null  object
 4   APT_ICAO       113339 non-null  object
 5   APT_NAME       113339 non-null  object
 6   STATE_NAME     113339 non-null  object
 7   FLT_DEP_1      113339 non-null  int64
 8   FLT_DEP_IFR_2  37553 non-null   float64
 9   DLY_ATC_PRE_2  37553 non-null   float64
 10  FLT_DEP_3      94762 non-null   float64
 11  DLY_ATC_PRE_3  94762 non-null   float64
dtypes: float64(4), int64(3), object(5)
memory usage: 10.4+ MB

In [30]:
df.describe()

             Index
count  10000.00000
mean    5000.50000
std     2886.89568
min        1.00000
25%     2500.75000
50%     5000.50000
75%     7500.25000
max    10000.00000

In [33]:
display(df["First Name"])

0        Heather
1       Kristina
2         Briana
3          Patty
4       Kathleen
          ...
9995      Meghan
9996    Jeremiah
9997       Peggy
9998        Evan
9999     Melissa
Name: First Name, Length: 10000, dtype: object

In [38]:
lista = df["First Name"].unique().tolist()
print(len(lista))

690

In [41]:
df.sample(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
1668,1669,AbA8dd430553bF1,Derek,French,Fritz Group,Lake Raymondborough,Botswana,+1-562-498-9218x0652,(125)614-1450x972,williamcline@rowe-bishop.com,2021-10-21,http://www.kirby.com/
5711,5712,dBC92Cde4BbFDbe,Janice,Wall,Pena Group,Manningborough,Cambodia,7663763712,(424)921-1635x431,julian34@leblanc.org,2021-05-08,https://www.gardner.com/
899,900,d83d4dEaDB1B320,Miranda,Callahan,"Pope, Adkins and Randolph",Haneybury,Bosnia and Herzegovina,623-353-5668,565-442-0573,pmccullough@allison.com,2022-03-19,http://www.davies.com/
8083,8084,badafD27D41DA79,Bonnie,Stark,"Taylor, Horne and Weeks",New Todd,Iran,733.015.0162x7074,(405)266-9004x2061,uchavez@li.org,2020-06-30,http://bender.com/
3817,3818,470fA12Ba18942C,Lydia,Castillo,Fleming PLC,Annside,Gambia,+1-513-572-7249,(818)952-1795,hoffmanjasmin@washington.com,2020-10-11,https://levy.biz/

In [44]:
df.loc[1668:1700]   #Ubica la fila con el indice proporcionado

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
1668,1669,AbA8dd430553bF1,Derek,French,Fritz Group,Lake Raymondborough,Botswana,+1-562-498-9218x0652,(125)614-1450x972,williamcline@rowe-bishop.com,2021-10-21,http://www.kirby.com/
1669,1670,7Ee95bBaacC6663,Gordon,Walsh,"Vega, Potter and Skinner",Port Bob,Qatar,+1-326-521-5598x5029,408-928-9321x3641,boltonwillie@mclaughlin.net,2021-05-23,http://horne.com/
1670,1671,b545De0695cAAdC,Hayden,Mckenzie,Beasley and Sons,Watsonview,Vanuatu,+1-761-961-4121x8524,853-784-3616x818,jwallace@rojas-rowe.org,2020-12-21,https://www.garrison.com/
1671,1672,d59AfC9b255Aa8b,Adam,Garrison,Clayton Ltd,West Stacie,Bermuda,001-822-021-0681x78994,001-059-304-7143,yhardy@watts-hayes.info,2020-08-10,http://sawyer-booth.com/
1672,1673,C39c9e820C737DD,Charlotte,Hendrix,Conley-Cochran,Morsemouth,Guadeloupe,001-533-138-5627x605,+1-406-329-8420x317,weisscarolyn@thomas.biz,2020-08-28,https://www.manning.net/
1673,1674,40AC39c8647eF80,Jocelyn,Cuevas,Meadows LLC,South Sherryside,Congo,935-039-2833x756,278-143-1451,gouldkristie@donaldson.com,2021-08-26,https://www.stanley.biz/
1674,1675,8A17ce96e29cF2f,Greg,Crawford,"Gibson, Galloway and Williamson",Fisherstad,Burundi,001-804-786-7702,421-417-1983x4479,tatehailey@hayden-mayer.com,2020-07-22,https://weaver-hodges.org/
1675,1676,7Dd9A7e1dbfdBaE,Tom,Galloway,Gill-Mccarthy,Lake Austinstad,Sao Tome and Principe,772-260-6045,114.545.8698x26374,christopher86@suarez-boyle.com,2020-02-09,http://www.figueroa-oneal.com/
1676,1677,A9A1d18Ba443F0E,Jerome,Ortega,Solomon Group,Bernardfort,Saint Pierre and Miquelon,+1-737-995-5737x03400,(664)856-8452x6313,dwarner@huffman.com,2022-03-25,http://holloway.com/
1677,1678,FC62774BEddF749,Makayla,Potter,Vance Ltd,South Melvin,Gambia,(881)134-5637x31764,001-441-013-4535,barrymelody@horne.com,2020-11-02,https://wallace-patterson.com/
1678,1679,539C67dE0EAF5f3,Eduardo,Singleton,Fox-Guerrero,West Bryanfurt,Chile,(922)548-4683x6622,040-627-0820,caitlyn50@house.com,2021-08-18,http://www.giles.com/
1679,1680,43ea26e15bf1469,Deborah,Espinoza,Kelly Inc,New Andrew,Rwanda,856-211-3344,001-897-860-2574x90718,meagan30@underwood.org,2021-11-26,https://www.huang.com/
1680,1681,5Cbf937eAF42AAC,Sophia,Scott,Bartlett-Hardin,Port Sheryl,Bahamas,(245)790-6293x875,789-274-6413x999,tbishop@diaz.com,2022-04-07,https://www.chan.com/
1681,1682,cC1dCaC11c9ffbC,Sarah,Walls,Collier-Warren,Sierraton,Togo,428-561-0373x777,(004)725-7424,brianamyers@lamb-pollard.com,2021-05-30,http://carson.com/
1682,1683,07EAE4DF7625ddF,Makayla,Ibarra,Huber-Griffin,Espinozaburgh,Macedonia,001-625-554-2466,033.853.6408x435,dchan@valdez.com,2020-07-21,https://www.maldonado-newman.net/
1683,1684,6D810B88eBBDEE4,Natasha,Nicholson,"Olsen, Hernandez and Garza",Griffithburgh,Monaco,207-456-6983,001-147-048-0671,afrye@sandoval.biz,2020-12-24,http://www.stevens.com/
1684,1685,924ba7a4BFE7Deb,Vincent,Mccoy,Clayton-Jenkins,Rossstad,Japan,+1-343-284-5091x853,838-559-7376,andrewdonovan@graves-watts.com,2020-07-29,https://cortez-stewart.com/
1685,1686,39e619Fd48a7e12,Clarence,Kelley,Dennis-Murillo,East Chelsey,Malawi,(748)037-6785,+1-931-879-1902x362,montesdan@morrow.com,2020-01-11,https://harper.com/
1686,1687,Ea7C37fAeBdb0cb,Trevor,Duarte,"Hoffman, Mcfarland and Montgomery",North Ann,Reunion,+1-135-960-6239,610-576-9545x00729,blakevalerie@hooper.net,2020-11-01,http://watts-carlson.com/
1687,1688,E71b2840eDdf21c,Tyler,Obrien,"Holland, Fry and Mckinney",South Carlos,Cambodia,049-955-1909,047.057.7267x7858,carolynjohnson@larsen.com,2020-06-08,https://blake.net/
1688,1689,6F6D9c6CDcd5F1b,Clayton,Maxwell,Frank-Finley,New Alejandrofurt,Botswana,766.780.4772x894,001-321-740-7284x80426,darin22@decker.com,2020-07-11,https://porter-banks.org/
1689,1690,48aF63FadeDdAa9,Elaine,Davis,Robinson-Schneider,Lake Kristina,Belize,(642)083-1297x9038,001-805-820-6288x787,goldenbridget@rivers-harris.info,2020-08-16,http://www.castillo-lynch.com/
1690,1691,adc8CeDA7BD4A69,Sandy,Stein,Jimenez Ltd,North Jack,Azerbaijan,2578911098,+1-078-045-0018x9559,tim19@daniel.net,2020-10-01,http://www.santos-patrick.com/
1691,1692,6eA0979dA445FAA,Jessica,Carney,Gallegos Group,Weissfort,France,759.269.3995x076,8269936424,zlarsen@zimmerman.com,2020-06-22,http://www.gross.com/
1692,1693,b07424e5EeC73cD,Cole,Rollins,"Wiley, Wiley and Townsend",West Daniel,Vietnam,322.131.5486x62409,+1-479-787-8360,barnettkristin@livingston.com,2022-03-21,http://www.pollard.net/
1693,1694,fe8b575DA13c59b,George,Rocha,"Cisneros, Wheeler and Espinoza",Moodyfort,India,538-670-4798,6081916993,fowlervernon@curtis.com,2021-08-23,https://brandt.info/
1694,1695,f058359eC0bD6db,Rhonda,Banks,Swanson Ltd,South Lonnieberg,Gambia,249-710-4526x417,(789)126-0563x301,tristansingleton@marks-fitzpatrick.info,2020-12-05,https://price.info/
1695,1696,a8a2B4e499C210A,Jo,Woodward,Horne and Sons,Lake Kerrifurt,Timor-Leste,001-752-057-6655x568,292-933-7318,marvinstuart@jacobs.org,2021-12-19,https://bass-vaughan.com/
1696,1697,be35Bddfe87CcC7,Carlos,Hudson,Hays-Lynn,Lake Linda,Belarus,(414)354-5504x6813,465.876.9771x16879,alexsutton@nixon.net,2021-12-20,https://logan.net/
1697,1698,4cacD43Dd1480a0,Morgan,Moses,"Sanford, Keller and Davila",New Francesside,Guam,346.945.2217,(299)554-6670,yesenia98@ortega-lang.org,2022-01-09,http://www.bowen.info/
1698,1699,0bea0a0B23c286F,Breanna,Merritt,Riley and Sons,Port Chrisport,Thailand,001-988-272-5771,537-435-3952,shari87@simmons-villanueva.info,2020-04-20,http://curry-blankenship.org/
1699,1700,8A9bBbFcEc21842,Willie,Rollins,Small PLC,New Spencerbury,Sri Lanka,997.871.3990x6902,(761)855-3170x1973,smcclain@sloan.net,2020-07-06,https://www.crawford.net/
1700,1701,9CDa6CDB6AACfDa,Felicia,Townsend,Obrien-Webb,Patrickbury,Cape Verde,(582)975-3462x08382,(932)539-6455x79440,curtisroberson@travis.com,2020-02-14,http://carter.org/

In [45]:
df.loc[1668:1700, ["Country", "Company"]]   #Ubica la fila con el indice proporcionado

                        Country                            Company
1668                   Botswana                        Fritz Group
1669                      Qatar           Vega, Potter and Skinner
1670                    Vanuatu                   Beasley and Sons
1671                    Bermuda                        Clayton Ltd
1672                 Guadeloupe                     Conley-Cochran
1673                      Congo                        Meadows LLC
1674                    Burundi    Gibson, Galloway and Williamson
1675      Sao Tome and Principe                      Gill-Mccarthy
1676  Saint Pierre and Miquelon                      Solomon Group
1677                     Gambia                          Vance Ltd
1678                      Chile                       Fox-Guerrero
1679                     Rwanda                          Kelly Inc
1680                    Bahamas                    Bartlett-Hardin
1681                       Togo                     Collier-Warren
1682                  Macedonia                      Huber-Griffin
1683                     Monaco         Olsen, Hernandez and Garza
1684                      Japan                    Clayton-Jenkins
1685                     Malawi                     Dennis-Murillo
1686                    Reunion  Hoffman, Mcfarland and Montgomery
1687                   Cambodia          Holland, Fry and Mckinney
1688                   Botswana                       Frank-Finley
1689                     Belize                 Robinson-Schneider
1690                 Azerbaijan                        Jimenez Ltd
1691                     France                     Gallegos Group
1692                    Vietnam          Wiley, Wiley and Townsend
1693                      India     Cisneros, Wheeler and Espinoza
1694                     Gambia                        Swanson Ltd
1695                Timor-Leste                     Horne and Sons
1696                    Belarus                          Hays-Lynn
1697                       Guam         Sanford, Keller and Davila
1698                   Thailand                     Riley and Sons
1699                  Sri Lanka                          Small PLC
1700                 Cape Verde                        Obrien-Webb

In [48]:
df.iloc[1668:1700, [4, 6]]   #Ubica la fila con el indice proporcionado

                                Company                    Country
1668                        Fritz Group                   Botswana
1669           Vega, Potter and Skinner                      Qatar
1670                   Beasley and Sons                    Vanuatu
1671                        Clayton Ltd                    Bermuda
1672                     Conley-Cochran                 Guadeloupe
1673                        Meadows LLC                      Congo
1674    Gibson, Galloway and Williamson                    Burundi
1675                      Gill-Mccarthy      Sao Tome and Principe
1676                      Solomon Group  Saint Pierre and Miquelon
1677                          Vance Ltd                     Gambia
1678                       Fox-Guerrero                      Chile
1679                          Kelly Inc                     Rwanda
1680                    Bartlett-Hardin                    Bahamas
1681                     Collier-Warren                       Togo
1682                      Huber-Griffin                  Macedonia
1683         Olsen, Hernandez and Garza                     Monaco
1684                    Clayton-Jenkins                      Japan
1685                     Dennis-Murillo                     Malawi
1686  Hoffman, Mcfarland and Montgomery                    Reunion
1687          Holland, Fry and Mckinney                   Cambodia
1688                       Frank-Finley                   Botswana
1689                 Robinson-Schneider                     Belize
1690                        Jimenez Ltd                 Azerbaijan
1691                     Gallegos Group                     France
1692          Wiley, Wiley and Townsend                    Vietnam
1693     Cisneros, Wheeler and Espinoza                      India
1694                        Swanson Ltd                     Gambia
1695                     Horne and Sons                Timor-Leste
1696                          Hays-Lynn                    Belarus
1697         Sanford, Keller and Davila                       Guam
1698                     Riley and Sons                   Thailand
1699                          Small PLC                  Sri Lanka

In [51]:
df.loc[1668, "Country"] = "Thailand"

In [52]:
df.loc[1668]

Index                                        1669
Customer Id                       AbA8dd430553bF1
First Name                                  Derek
Last Name                                  French
Company                               Fritz Group
City                          Lake Raymondborough
Country                                  Thailand
Phone 1                      +1-562-498-9218x0652
Phone 2                         (125)614-1450x972
Email                williamcline@rowe-bishop.com
Subscription Date                      2021-10-21
Website                     http://www.kirby.com/
Name: 1668, dtype: object

In [56]:
df.sort_values(["Country"],ascending=False)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
2553,2554,7DDe7Fdf17fCaca,Faith,Wise,"Ward, Mills and Gordon",East Alvin,Zimbabwe,059.946.8811,001-707-223-0952x5745,roycarney@herring-duffy.org,2021-01-17,https://www.delgado-knapp.com/
3363,3364,Acba2F1393E296C,Kaitlin,Crane,Frye Ltd,Bryanstad,Zimbabwe,+1-756-464-2317x1860,487.625.7110x7924,willissavannah@stevens.com,2021-06-30,http://www.pearson.com/
5065,5066,FfE765Fbb850DC3,Jorge,Galloway,Spence LLC,Bradview,Zimbabwe,8872066119,(375)558-9834x88675,daisy02@clayton.biz,2020-09-05,https://www.preston.com/
1326,1327,b1c4F3fA04D5d6a,Caroline,Harding,Hardy and Sons,West Franciscoview,Zimbabwe,327-833-2164x340,346.973.4578x2525,kendra51@pratt-gibbs.com,2020-01-24,https://www.chambers-ray.info/
2850,2851,ABbCB5EDa8c9aFd,Claudia,Harmon,Payne-Douglas,New Greg,Zimbabwe,322-943-9935,831-404-3288,ashleyfrench@gallegos.com,2021-06-01,https://jenkins-spears.com/
...,...,...,...,...,...,...,...,...,...,...,...,...
5999,6000,2D1AfB6fc2ee4Ac,Katie,Schmitt,Roberson-Kerr,South Franklin,Afghanistan,001-402-433-2246x092,001-265-649-1339x231,arnoldcandice@ruiz.net,2021-08-30,http://www.holloway-guerra.com/
5756,5757,cE0a9F2ba934afa,Kathleen,Crane,Vincent PLC,New Kirk,Afghanistan,417.066.5417,0848769988,jramirez@bird-sutton.info,2020-12-30,https://cohen-coleman.org/
3893,3894,1Ec1b1ffE94e3FF,Rose,Tyler,Gamble-Kemp,New Tabitha,Afghanistan,841-099-1855,743-673-6126,quinncarmen@gilbert.com,2020-06-03,http://hanna.com/
2986,2987,Da67B8699D8aDd4,Derrick,Leonard,Johnston PLC,Gayview,Afghanistan,315-972-6990,876-096-3817,huertadaniel@oconnor.com,2021-06-28,http://www.buckley-anderson.com/
9088,9089,bfc3B455Dd2f4bd,Sophia,Schultz,Brooks and Sons,North Maureenchester,Afghanistan,355.104.4169x7569,370-557-8403x676,lucasweeks@carter.info,2021-10-04,http://www.hubbard.biz/

In [57]:
df2.sample(5)

,YEAR,MONTH_NUM,MONTH_MON,FLT_DATE,APT_ICAO,APT_NAME,STATE_NAME,FLT_DEP_1,FLT_DEP_IFR_2,DLY_ATC_PRE_2,FLT_DEP_3,DLY_ATC_PRE_3
94851,2017,11,NOV,2017-11-01,LFLI,Annemasse,France,1,NaN,NaN,NaN,NaN
81928,2017,9,SEP,2017-09-21,ESSB,Stockholm - Bromma,Sweden,116,NaN,NaN,91.0,0.0
38307,2017,5,MAY,2017-05-04,LFRG,Deauville-Normandie,France,3,NaN,NaN,NaN,NaN
79620,2017,9,SEP,2017-09-14,EDDB,Berlin - Brandenburg,Germany,164,NaN,NaN,116.0,13.0
27817,2017,3,MAR,2017-03-31,LKMT,Ostrava,Czech Republic,7,NaN,NaN,4.0,0.0

In [61]:
df2.loc[df2["MONTH_NUM"]>= 7]
df2.loc[df2["MONTH_NUM"]>= 7, ["STATE_NAME", "FLT_DEP_1"]]
df2[df2["MONTH_NUM"]>= 7][["STATE_NAME", "FLT_DEP_1"]]

        STATE_NAME  FLT_DEP_1
56218      Belgium         16
56219      Belgium        285
56220      Belgium         77
56221      Belgium         25
56222      Belgium          7
...            ...        ...
113334  Montenegro         15
113335    Slovakia         12
113336     Armenia         32
113337     Georgia         37
113338     Ukraine         79

[57121 rows x 2 columns]

In [66]:
df2.sample(5)
ndf = df2[ (df2["MONTH_NUM"]>= 7) & (df2["STATE_NAME"] == "Spain")]
ndf.count()

YEAR             8655
MONTH_NUM        8655
MONTH_MON        8655
FLT_DATE         8655
APT_ICAO         8655
APT_NAME         8655
STATE_NAME       8655
FLT_DEP_1        8655
FLT_DEP_IFR_2    2146
DLY_ATC_PRE_2    2146
FLT_DEP_3        6523
DLY_ATC_PRE_3    6523
dtype: int64

In [67]:
df.sample(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
677,678,9cdF03a6B65b1BE,Stacie,Turner,Carrillo-Lynch,East Heatherport,Nicaragua,001-024-760-6772x416,(353)642-4648x1291,daltonevans@keller.info,2021-06-18,http://reyes.net/
2972,2973,Bcb2292edE2d18D,Jade,Diaz,Odonnell-Hopkins,East Howard,Ghana,+1-615-809-3030x69473,(927)668-4232,joshuafoley@holland.org,2021-03-14,https://www.ferrell-frey.com/
9860,9861,2BAdF35eCCFBAbA,Dennis,Higgins,Mclean PLC,Gailchester,Nicaragua,698-152-9668x578,207-426-5757,alexleach@sexton.com,2021-02-19,https://www.marsh-tyler.com/
1040,1041,83C9AAe7188Cf88,Jordan,Contreras,Dorsey-Merritt,East Zachary,Algeria,866.727.2664x74196,+1-600-260-6630x33916,jane81@vaughn-moses.biz,2022-01-19,http://hawkins-blackburn.org/
8392,8393,Db2f1dD4D11363a,Stefanie,Soto,"Morales, Grant and Holder",Dorseyview,Montenegro,001-229-828-3310,001-061-498-8457x07281,samanthalloyd@jenkins-mccarthy.info,2020-08-19,http://stephenson.com/

In [75]:
ndf2 = df[df["First Name"].str.contains("Stacie", case=True)]
display(ndf2)
ndf2.count()

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
486,487,fcAE0CcFcDf7370,Stacie,Ali,Hancock-Pineda,Port Seth,Peru,+1-475-250-6496x470,(015)268-6564,huynhsydney@morgan-townsend.net,2021-05-24,http://wallace-lewis.com/
677,678,9cdF03a6B65b1BE,Stacie,Turner,Carrillo-Lynch,East Heatherport,Nicaragua,001-024-760-6772x416,(353)642-4648x1291,daltonevans@keller.info,2021-06-18,http://reyes.net/
811,812,8A9eAF9fce144E3,Stacie,Romero,"Moss, Elliott and Carter",New Becky,Marshall Islands,001-131-330-7009x10351,165-145-4965x4203,mcclaintyler@clark-hendrix.com,2020-05-04,http://stewart-delgado.com/
975,976,2Be8ac81ed1C7fe,Stacie,May,Fields Inc,East Adrian,Montenegro,(484)401-4758,299-148-9874x031,deborah96@ortega-anderson.com,2020-03-19,http://www.flynn.com/
1956,1957,e30D09bcC5EaDEC,Stacie,Reyes,Bradshaw PLC,Warnerton,Guinea-Bissau,+1-805-112-3373,651-826-9516,karl57@martin.com,2021-03-14,https://sampson.com/
3453,3454,8484EBAd0518576,Stacie,Hutchinson,"Mullen, Bolton and Hunt",Lake Joshua,Anguilla,(179)680-4981,+1-491-436-2507x11551,lynnchurch@horne.net,2022-02-08,http://www.finley-wong.biz/
5058,5059,F2e4E5B7cAC4C62,Stacie,Perez,"Fitzgerald, Wilkinson and Jacobs",West Mario,Kiribati,+1-365-625-9946x467,(767)915-3802,garrett10@washington.info,2020-12-19,http://wright.com/
5641,5642,AACa6B7562DA780,Stacie,Gibbs,Mcfarland Inc,Buckville,Gibraltar,001-989-335-8076x824,(466)917-6492,meagan71@gutierrez.org,2021-07-22,https://joseph-gordon.com/
8022,8023,7FAbeEEC1b8549B,Stacie,Ball,Dunn-Ellison,Port Bethberg,Portugal,037.081.2034x300,278.327.8687x233,nwerner@moon.com,2020-02-16,http://www.golden-newton.info/
8025,8026,CED37cEFE1CA5aE,Stacie,Cunningham,Washington-Lynn,North Ruthmouth,Venezuela,112.991.1808x11810,001-590-699-4059,nparks@santana-villanueva.org,2021-07-18,http://houston-bruce.com/

Index                10
Customer Id          10
First Name           10
Last Name            10
Company              10
City                 10
Country              10
Phone 1              10
Phone 2              10
Email                10
Subscription Date    10
Website              10
dtype: int64

In [78]:
ndf3 = df[df["First Name"].str.contains("Stacie|Jade", case=False, regex=True)]
display(ndf3)

Empty DataFrame
Columns: [Index, Customer Id, First Name, Last Name, Company, City, Country, Phone 1, Phone 2, Email, Subscription Date, Website]
Index: []

In [85]:
filtered_df = df[df['First Name'].str.contains('Stac|Jade', case=False, regex=True)]

In [80]:
filtered_df

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
184,185,abe39219A467866,Jade,Leonard,Winters Ltd,Randolphside,Oman,001-997-950-8868x14600,001-576-941-0376x050,jessica41@klein.biz,2020-10-19,http://www.meadows.org/
486,487,fcAE0CcFcDf7370,Stacie,Ali,Hancock-Pineda,Port Seth,Peru,+1-475-250-6496x470,(015)268-6564,huynhsydney@morgan-townsend.net,2021-05-24,http://wallace-lewis.com/
677,678,9cdF03a6B65b1BE,Stacie,Turner,Carrillo-Lynch,East Heatherport,Nicaragua,001-024-760-6772x416,(353)642-4648x1291,daltonevans@keller.info,2021-06-18,http://reyes.net/
811,812,8A9eAF9fce144E3,Stacie,Romero,"Moss, Elliott and Carter",New Becky,Marshall Islands,001-131-330-7009x10351,165-145-4965x4203,mcclaintyler@clark-hendrix.com,2020-05-04,http://stewart-delgado.com/
975,976,2Be8ac81ed1C7fe,Stacie,May,Fields Inc,East Adrian,Montenegro,(484)401-4758,299-148-9874x031,deborah96@ortega-anderson.com,2020-03-19,http://www.flynn.com/
1880,1881,8df2ba29eCeCFbd,Jade,Frederick,Phillips Group,Robertfort,Armenia,001-700-548-5563x8943,(932)013-7148x15187,christinewoodard@melendez.biz,2020-12-04,https://www.tate.com/
1956,1957,e30D09bcC5EaDEC,Stacie,Reyes,Bradshaw PLC,Warnerton,Guinea-Bissau,+1-805-112-3373,651-826-9516,karl57@martin.com,2021-03-14,https://sampson.com/
2002,2003,Fc1AEA19E7D000B,Jade,Oneal,Harding-Barber,South Mikaylabury,Estonia,(259)793-8011x185,001-792-433-2130x76837,dshaw@baker-morris.com,2020-07-01,https://cervantes.com/
2972,2973,Bcb2292edE2d18D,Jade,Diaz,Odonnell-Hopkins,East Howard,Ghana,+1-615-809-3030x69473,(927)668-4232,joshuafoley@holland.org,2021-03-14,https://www.ferrell-frey.com/
3453,3454,8484EBAd0518576,Stacie,Hutchinson,"Mullen, Bolton and Hunt",Lake Joshua,Anguilla,(179)680-4981,+1-491-436-2507x11551,lynnchurch@horne.net,2022-02-08,http://www.finley-wong.biz/
5058,5059,F2e4E5B7cAC4C62,Stacie,Perez,"Fitzgerald, Wilkinson and Jacobs",West Mario,Kiribati,+1-365-625-9946x467,(767)915-3802,garrett10@washington.info,2020-12-19,http://wright.com/
5641,5642,AACa6B7562DA780,Stacie,Gibbs,Mcfarland Inc,Buckville,Gibraltar,001-989-335-8076x824,(466)917-6492,meagan71@gutierrez.org,2021-07-22,https://joseph-gordon.com/
5987,5988,F3D4b4B8fEa3ad4,Jade,Daniels,Blanchard Group,South Destinymouth,Belize,464-311-4296,001-775-052-5536,leonardbrady@hawkins-hill.com,2020-10-12,https://hess.biz/
6386,6387,7aC902B9BB093fC,Jade,Powers,Allison-Ayers,North Carriefurt,Algeria,527-316-8814x2978,+1-792-080-1537x278,edwinjennings@rush.biz,2020-12-21,https://www.woodard.com/
6408,6409,AeEaeDc36fAa1BC,Jade,Sweeney,Rowe Ltd,Karenton,Cayman Islands,653-114-8608,(103)292-6514x7370,jose41@mora.com,2020-02-09,https://www.harmon.com/
6565,6566,f9D6e9069d6a17c,Jade,Noble,Mcintyre Inc,New Caitlyn,Philippines,(156)784-2167x806,001-787-959-1394x80579,stanley30@mcfarland.com,2021-01-14,https://morton-townsend.org/
6723,6724,cF7F3FFD67aCC5d,Jade,Hoover,"Robles, Horton and Banks",Tammiefort,Lebanon,3233292648,+1-871-415-3647x629,hickmancameron@moreno-randolph.net,2021-10-27,https://www.perez.com/
7221,7222,Ff76BFAEeBCE31f,Jade,Esparza,Herring-Mahoney,North Gabriela,Mayotte,001-909-367-3286x1469,001-263-358-1751x730,castillobrianna@gallagher.com,2021-01-16,https://irwin.biz/
8022,8023,7FAbeEEC1b8549B,Stacie,Ball,Dunn-Ellison,Port Bethberg,Portugal,037.081.2034x300,278.327.8687x233,nwerner@moon.com,2020-02-16,http://www.golden-newton.info/
8025,8026,CED37cEFE1CA5aE,Stacie,Cunningham,Washington-Lynn,North Ruthmouth,Venezuela,112.991.1808x11810,001-590-699-4059,nparks@santana-villanueva.org,2021-07-18,http://houston-bruce.com/
9376,9377,dA3669d0BaD459C,Jade,Beasley,Stafford-Rosario,Bruceburgh,Venezuela,026-852-0074x943,+1-145-399-8308x6996,jprice@dunlap.biz,2021-03-06,https://arias-barry.org/

In [82]:
df.sample(5)

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
7764,7765,edecD07D8BbD8Ce,April,Jacobson,Maynard Inc,West Susanborough,Ireland,+1-023-215-2948,286.887.9438x127,jodimadden@downs-russo.net,2020-11-11,http://www.vance.net/
106,107,0778d8Decad8147,Christine,Manning,"Carr, Harvey and Webb",East Eduardo,Slovenia,(099)652-7937,0410407343,toddmcmahon@beard-lambert.com,2021-01-24,http://hurley.org/
508,509,EE6E4E0DAa47eed,Allen,Santiago,"Humphrey, Mclean and Mitchell",Port Annefort,Kyrgyz Republic,001-415-113-5755x8454,001-455-039-7388,shelia73@buck.com,2020-07-19,http://www.mosley.com/
8157,8158,CAf9bfbca2cf3CA,Bob,Sutton,Daniel LLC,South Eric,Nepal,152-637-5512,+1-868-483-9360x57554,chenson@price-reed.net,2020-08-02,https://www.schmitt-luna.com/
3619,3620,A6d69E1Cac8bB22,Sheena,Weeks,"Mooney, Diaz and Hale",Deanstad,Guatemala,(724)968-4525,097-908-8214,kellerclinton@faulkner.biz,2022-03-14,http://www.macias.com/

In [84]:
df[df["Country"].isin(["Ireland", "Slovenia", "Nepal"])]

,Index,Customer Id,First Name,Last Name,Company,City,Country,Phone 1,Phone 2,Email,Subscription Date,Website
2,3,67DAB15Ebe4BE4a,Briana,Andersen,Irwin-Oneal,East Jordan,Nepal,8352752061,(567)135-1918,haleybraun@blevins-sexton.com,2022-03-22,https://www.mack-bell.net/
64,65,DC63a02BDa14af4,Nicholas,Mcclure,"Roy, Myers and Fox",East Nicolechester,Nepal,040-706-1022x241,909.727.3778,phelpsandres@hartman-cooper.org,2021-03-15,http://www.levine.com/
68,69,B5F6D5dB5eBDfcE,Ann,Ayala,Walton-Carter,Johnchester,Ireland,965-375-4761x8648,+1-892-497-8783x07375,hburke@duke-mcmahon.com,2020-12-05,https://www.copeland.org/
106,107,0778d8Decad8147,Christine,Manning,"Carr, Harvey and Webb",East Eduardo,Slovenia,(099)652-7937,0410407343,toddmcmahon@beard-lambert.com,2021-01-24,http://hurley.org/
254,255,dFAc465E9Ccc3a6,Kara,Pugh,Proctor-Garrett,Kennedyville,Ireland,415.119.1011,063.445.8828x5305,lucas29@mccoy.net,2021-02-22,https://brock.info/
...,...,...,...,...,...,...,...,...,...,...,...,...
9599,9600,68D16f428AEbf69,Nicholas,Calderon,Mack-Wilson,South Taylor,Nepal,140.782.0057,+1-097-403-1496x66099,mayochristy@blake.com,2020-10-20,https://www.larsen-serrano.com/
9638,9639,e98652AD9E24eaD,Whitney,Reid,"Hodge, Carson and Valdez",Omarchester,Slovenia,(918)168-6010x53414,040.584.6039x6762,kiddmelvin@mayo.org,2021-01-28,http://www.ali.info/
9687,9688,e9E9c663c3A4Bd0,Tyler,Robinson,Morrison-Greer,Lynchport,Ireland,001-808-833-5813x01113,765-575-0967x14728,uboone@lloyd.com,2021-01-19,http://www.thornton.org/
9832,9833,E26dcA79F4B20ef,Ian,Donovan,Villanueva-Holder,New Kristinaborough,Nepal,+1-370-445-3726x90146,198.945.1783x6782,derek38@kelley.com,2021-03-01,http://reyes-manning.info/
9833,9834,F5BF07f577b1a3c,Isabel,Flynn,Gomez-Strickland,Port Perrybury,Nepal,061.698.7926x69943,001-440-939-4988x243,aglenn@hall.com,2021-01-12,http://caldwell.com/

In [86]:
df.index

RangeIndex(start=0, stop=10000, step=1)